*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 10rem 8rem;
  width: 100%;
  height: 100vh;
  margin-bottom: 6rem;
  text-align: center;
  font-family: open sans; }

.header__image {
  background-size: cover;
  text-align: center;
  width: 100%;
  margin-bottom: 6rem; }

.header__text {
  margin-bottom: 6rem; }
  .header__text-primary-1 {
    font-size: 6rem;
    font-weight: 600; }
  .header__text-primary-2 {
    font-size: 10rem;
    font-weight: 1000;
    color: #6c63ff;
    margin-bottom: 6rem; }
    .header__text-primary-2-2 {
      display: inline-block;
      border-bottom: #6c63ff 1rem solid; }
  .header__text-secondary {
    font-size: 2.5rem;
    font-weight: 400;
    color: #9394a6; }

.btn:link,
.btn :visited {
  text-decoration: none;
  padding: 5rem 25rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.1s;
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 6rem; }

.btn:active {
  transform: translateY(0.2rem); }

.btn-white {
  background-color: #6c63ff;
  color: white; }

.link-to-sign-in {
  color: #838599;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none; }
